[SteamDissector]

#connection string for mongodb (see http://www.mongodb.org/display/DOCS/Connections)
MONGO_URI=mongodb://localhost/steam-dissector

PORT=8088

# Space separated list of allowed CORS origins
CORS_ORIGINS=*
